*.csv
/bitrix/activities
/bitrix/admin
/bitrix/backup
/bitrix/cache
/bitrix/catalog_export

/bitrix/components/aspro
/bitrix/components/bitrix
/bitrix/components/coderoid
/bitrix/components/web-slon.ru
/bitrix/components/yenisite



/bitrix/css
/bitrix/fonts
/bitrix/gadgets
/bitrix/html_pages
/bitrix/image_uploader
/bitrix/images
/bitrix/js
/bitrix/managed_cache


/bitrix/modules/abtest
/bitrix/modules/advertising
/bitrix/modules/aspro.mshop
/bitrix/modules/bitrix.eshop
/bitrix/modules/bitrix.sitecorporate
/bitrix/modules/bitrixcloud
/bitrix/modules/bizproc
/bitrix/modules/bizprocdesigner
/bitrix/modules/blog
/bitrix/modules/calendar
/bitrix/modules/catalog
/bitrix/modules/clouds
/bitrix/modules/cluster
/bitrix/modules/coderoid.css3animations
/bitrix/modules/compression
/bitrix/modules/conversion
/bitrix/modules/currency
/bitrix/modules/eshopapp
/bitrix/modules/fileman
/bitrix/modules/form
/bitrix/modules/forum
/bitrix/modules/highloadblock
/bitrix/modules/iblock
/bitrix/modules/idea
/bitrix/modules/im
/bitrix/modules/ldap
/bitrix/modules/learning
/bitrix/modules/lists
/bitrix/modules/ls.codegeneratorfree
/bitrix/modules/mail
/bitrix/modules/main
/bitrix/modules/mobileapp
/bitrix/modules/mod_csv
/bitrix/modules/perfmon
/bitrix/modules/photogallery
/bitrix/modules/pull
/bitrix/modules/report
/bitrix/modules/sale
/bitrix/modules/scale
/bitrix/modules/search
/bitrix/modules/security
/bitrix/modules/sender
/bitrix/modules/seo
/bitrix/modules/socialnetwork
/bitrix/modules/socialservices
/bitrix/modules/statistic
/bitrix/modules/storeassist
/bitrix/modules/subscribe
/bitrix/modules/support
/bitrix/modules/translate
/bitrix/modules/vote
/bitrix/modules/webservice
/bitrix/modules/webslon.photoframe
/bitrix/modules/wiki
/bitrix/modules/workflow
/bitrix/modules/yenisite.bitronic3dmodel
/bitrix/modules/.htaccess
/bitrix/modules/sale_convert.txt
/bitrix/modules/updater.log
/bitrix/modules/updater_partner.log


/bitrix/otp
/bitrix/panel
/bitrix/public
/bitrix/services
/bitrix/sounds
/bitrix/stack_cache
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/updates
/bitrix/wizards
/bitrix/.access.php
/bitrix/.gitignore
/bitrix/.settings.php
/bitrix/adminer.php
/bitrix/bx_1c_import.php
/bitrix/coupon_activation.php
/bitrix/footer.php
/bitrix/header.php
/bitrix/index.php
/bitrix/license_key.php
/bitrix/log.txt
/bitrix/p3p.xml
/bitrix/rss.php
/bitrix/site_checker_46ccc83fb5a017e733f2ac442b87c68c.log
/bitrix/spread.php
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
/bitrix/web.config
upload/