
/*title and stock*/
.flex-viewport .catalog_item .item_info{border-top-width:0px;margin:9px 0px 0px;box-sizing:initial;padding:5px 0px;}
/*.flex-viewport .catalog_item .item_info{border-top-width:0px;margin:19px 0px 0px;box-sizing:initial;padding:5px 0px;} */
.flex-viewport .catalog_item .item_info .item-title a:hover, .flex-viewport .catalog_item:hover .item_info .item-title a{border-bottom-width:0px;}
.flex-viewport li:hover a{text-decoration:none;}

/*price*/
.cost.prices .price, .module-cart .row_titles .item_title, .module-cart .row_values .price{font-size:15px;font-weight:bold;line-height:15px;/*margin:8px 0px 2px;*/}
/*.cost.prices .price{float:left;}*/
.cost.prices .price_name{font-size:10px;line-height:15px;margin:6px 0px 2px;clear:both;}
.cost.prices .sale_block + .price_name{margin-top:11px;}
.cost.prices .price + .price_name{margin-top:8px;}
/*	.cost.prices .price_name + .price{float:left;}*/
.cost.prices .price.discount{display:inline-block;vertical-align:top;margin-top:8px;float:none;}
.cost .price:not(.discount){margin-right:4px;}
.cost .price.discount strike, .row_values .price.discount strike{font-size:11px;line-height:15px;font-weight:normal;}
.display_list .cost.prices .price{font-size: 18px;}

.row_titles .w_title { margin-bottom: 5px; }

/*sales*/
.sale_block{margin:3px 0px 2px;clear:both;}
.sale_block .text, .sale_block .value{float:left;background:#ffd02e;padding:4px 8px 3px;font-size:11px;line-height:15px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:1px;margin-bottom:1px;}
.sale_block .value{margin-right:2px;}

body .wrapper .catalog_item .item_info .buttons_block{margin-top:17px;}

/*brands front*/
.brands_slider_wrapp{padding:55px 30px 47px;}
.brands_slider_wrapp ul.brands_slider li a{margin:0 10px;}
.brands_slider_wrapp .flex-viewport{height:48px;overflow:hidden;}
.brands_slider > li{line-height:48px;text-align:center;float:left;}
.brands_slider_navigation ul.flex-direction-nav{position:relative;height:0;zoom:1;}
.brands_slider > li a{text-decoration:none;}
.brands_slider_wrapp li img{
	-webkit-transition:all ease-out 0.2s;
    -moz-transition:all ease-out 0.2s;
    -o-transition:all ease-out 0.2s;
    transition:all ease-out 0.2s;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity:0.5;
	opacity:0.5;
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");/* Firefox 10+, Firefox on Android */
	filter:gray;/* IE6-9 */
	-webkit-filter:grayscale(100%);
	max-width:120px;
}
.brands_slider_wrapp li img:hover{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);-moz-opacity:1;khtml-opacity:1;opacity:1;filter:none;-webkit-filter:grayscale(0%);}

/*news*/
.wrap_md .news_wrap{width:68%;margin:0px 0px 38px;}
.news_block .news_items{font-size:0px;}
.news_block .news_items .item{display:inline-block;width:50%;vertical-align:top;padding:0px 20px 17px 0px;}
.news_block .news_items .item .image{float:left;width:90px;height:90px;margin-top:5px;text-align:center;}
.news_block .news_items .item .image img{display:inline-block;max-width:100%;max-height:100%;vertical-align:middle;-webkit-transition:all ease-out .2s;-moz-transition:all ease-out .2s;-o-transition:all ease-out .2s;transition:all ease-out .2s;}
.news_block .news_items .item .image + .info{padding-left:110px;}
.news{position:relative;}
.news .item .info .date{font-size:11px;line-height:20px;font-weight:500;}
.news .item .info .name{font-size:13px;text-decoration:none;margin:1px 0px 0px;font-weight:500;display:block;}
.news .item .info .name:hover{text-decoration:underline;  color:#333;}
.news .item .info .preview{margin:6px 0px 0px;font-size:12px;}

/*subscribe form*/
.wrap_md .subscribe_wrap{width:32%;margin:0px 0px 62px;}
.subscribe-form{margin:50px 0px 0px;}
.subscribe-form .wrap_bg{padding:30px 34px 30px;background:url('images/subscribe_bg.png') 0px -34px no-repeat;}
.subscribe-form .top_block{margin:0px;padding:0px;}
.subscribe-form .top_block .title, .subscribe-form .top_block .title div{font-size:16px;font-weight:500;color:#fff;margin:0px 0px 8px;}
.subscribe-form .top_block .more, .subscribe-form .top_block .more div{font-size:12px;opacity:0.65;color:#fff;line-height:16px;}
.subscribe-form .top_block .image{float:left;width:57px;height:57px;background:url('images/icons_wish.png') -2px -111px no-repeat;}
.subscribe-form .top_block .image + .text{padding-left:87px;}
.subscribe-form form.sform{font-size:0px;margin:22px 0 0;}
.subscribe-form form.sform > div{display:inline-block;vertical-align:top;}
.subscribe-form .email_wrap, .subscribe-form_footer .email_wrap{position:relative;margin-right:5px;width:57%;}
.subscribe-form .button_wrap {width:40%;}
.subscribe-form label.error, .subscribe-form_footer label.error{position:absolute;top:-19px;right:0px;}

/*akc front*/
.news_akc_block .news_slider > li{margin:0px 0px 50px 20px;}
.news_akc_block .news_slider > li:hover{box-shadow:none;}
ul.flex-control-nav{display:none;margin-top:0;}
.news_akc_block .slider_navigation.top, .news_akc_block.news .flex-direction-nav{top:44px;}
.bx-ie .news_akc_block .slider_navigation.top, .bx-ie .news_akc_block.news .flex-direction-nav{top:29px;}
.news_akc_block .top_block{margin-bottom:30px;}
.news_akc_block .img{height:166px;line-height:163px;text-align:center;overflow:hidden;}
.news_akc_block .img img{vertical-align:middle;-webkit-transition:all ease-out .2s;-moz-transition:all ease-out .2s;-o-transition:all ease-out .2s;transition:all ease-out .2s;}
.news_akc_block .item .info{padding:13px 20px 18px;}
.news_akc_block .item .info .date{line-height:22px;}

/*stores list front*/
.block_wr{position:relative;}
.block_wr .bg_map{position:absolute;top:0px;left:0px;width:100%;height:100%;background:url('images/map_large.png') center 0px no-repeat;opacity:.07;}
.block_wr.light{background:#f7f7f9;}
.block_wr.dark .bg_map{opacity:0.03;}
.stores{font-size:0px;padding:0px 0px 55px;}
.block_wr .top_block{margin-bottom:29px;}
.block_wr.dark .top_block  .title_block, .block_wr.dark .stores .stores_list .item a span, .block_wr.dark .stores .stores_list .item .store_text .value {color:#fff;}
.block_wr .top_block a{display:none;}
.stores .stores_list, .stores .all_map{display:inline-block;vertical-align:top;}
.stores .stores_list{position:relative;max-width:844px;width:75%;box-sizing:border-box;}
.stores .flex-control-paging, .news_akc_block .flex-control-paging{padding-bottom:0px;margin:0px;position:absolute;}
.stores .stores_list .stores_list_wr > li:hover{box-shadow:none;border:1px solid #FFF;}
.stores .stores_list .stores_navigation{top:-60px;}
.stores_list .flex-direction-nav, .news_akc_block .flex-direction-nav{right:0px;position:absolute;top:0px;z-index:50;margin:0px;}
.stores_list .flex-direction-nav{top:-60px;}
.bx-ie .stores_list.t1 .flex-direction-nav{top:-70px;}
.bx-ie .stores .stores_list .stores_navigation{top:-70px;}
.stores .stores_list .item{padding:19px 25px 19px;border:1px solid #FFF;}
.stores .stores_list .item .wrapp_block{overflow:hidden;line-height:0px;}
.block_wr.dark .stores_list .item{background:transparent !important;}
.stores .stores_list .item a {text-decoration:none;display:inline-block;margin:0px 0px 8px;}
.stores .stores_list .item a span{font-size:14px;line-height:22px;font-weight:600;border-bottom-width:0px;}
.block_wr.dark .stores .stores_list .item a:hover span{color:#333;}
.stores .stores_list .item a .icon{display:inline-block;width:8px;height:10px;background:url('images/icons_wish.png') -2px -182px no-repeat;float:left;margin:6px 0px 0px;}
.block_wr.dark .stores .stores_list .item a .icon{background:url('images/icons_wish.png') -13px -182px no-repeat;}
.stores .stores_list .item a .text{padding:0px 0px 0px 23px;display:block;}
.stores .stores_list .item .store_text{margin:0px 0px 3px;font-size:12px;}
.stores .stores_list .item .store_text:last-child{margin-bottom:0px;}
.stores .stores_list .item .store_text .title{color:#8e8c8c;float:left;line-height:20px;}
.block_wr.dark .stores .stores_list .item .store_text .title{color:#fff;opacity:0.5;}
.stores .stores_list .item .store_text .value{display:block;padding:0px 0px 0px 63px;clear:right;line-height:20px;}
.stores .all_map{width:268px;margin:0px 0px 0px 20px;}
.block_wr.dark .stores .all_map{background:#fff;}
.stores .all_map a{display:block;padding:24px 30px 31px 42px;text-decoration:none;font-weight:600;font-size:0px;}
.stores .all_map a.wrapp_block{display:table-cell;vertical-align:middle;padding-bottom:20px;padding-top:20px;}
.stores .all_map a  > div{display:inline-block;vertical-align:middle;}
.stores .all_map a .icon{width:53px;height:58px;background:url('images/icons_wish.png') -61px -4px no-repeat;margin:0px 30px 0px 0px;}
.block_wr.dark .stores .all_map a .icon{background:url('images/icons_wish.png') -128px -4px no-repeat;}
.stores .all_map a .text{font-size:14px;line-height:18px;width:105px;}
.light .stores .all_map a{color:#fff;}

.block_wr.dark .flex-direction-nav li:hover a.flex-prev{background-position:10px -50px;}
.block_wr.dark .flex-direction-nav li:hover a.flex-next{background-position:-27px -50px;}
.block_wr.dark .flex-direction-nav li:hover{background:#fff;}

/*company text front*/
.wrap_more_item .more_text_item{display:none;overflow:hidden;}
.md-50.img{padding:35px 10px 0px 0px;text-align:center;overflow:hidden;}
.md-50 img{max-width:100%;}
.md-50.big{padding:50px 0px 56px 10px;}
.md-50 .title_block{margin:2px 0px 25px;}

/*viewed front*/
.viewed_slider{position:relative;}

/*footer*/
#footer ul, #footer ul li{vertical-align:top;}
#footer .footer_top{padding:35px 0px 0px;}
#footer .footer_bottom{padding:44px 0px 45px;}

/*footer subscribe*/
.footer_top > .wrap_md > div, .footer_top .wrap_md .phones .phone_block  > .wrap_md > div{vertical-align:middle;}
.footer_top .sblock, .footer_bottom .menu_block{width:68%;padding:0px 20px 0px 0px;}
.footer_top .sblock .wrap_bg, .footer_bottom .copy_block{width:36%;}
.footer_top .sblock .wrap_icon{width:62px;height:43px;background:url('images/icons_wish.png') -74px -123px no-repeat;margin:0px 24px 0px 0px;}
.footer_top .sblock .wrap_more_text, .footer_top .sblock .wrap_more_text div{font-size:13px;line-height:18px;}
.footer_top .sblock .wrap_more_text{padding:8px 0px 0px 0px;}
.footer_top .sblock .forms{padding:10px 0px 0px 19px;width:64%;}
.footer_top .sblock .forms .email_wrap{width:74%;}
.bx-ie .footer_top .sform_footer input[type="email"]{padding-bottom:13px;}
.bx-ie .subscribe-form .sform input[type="email"]{padding-bottom:14px;}

/*footer phone*/
.footer_top .wrap_md .phones{padding:12px 0px 0px 6%;width:32%;left:3px;position:relative;}
.footer_top .wrap_md .phones .phone_block{width:100%;}
.footer_top .wrap_md .phones .phone_wrap a{font-size:19px;line-height:28px;}
.footer_top .wrap_md .phones .order{font-size:12px;cursor:pointer;text-align:right;width:42%;padding:0px 12px 0px 0px;}

/*copyright*/
#footer  .copyright, #footer  .copyright *{font-size:12px;line-height:18px;}
#footer  .copyright{margin:0px 0px 37px;}

/*pay icons*/
.pay_system_icons i{display:inline-block;height:20px;width:34px;background:url(images/pay_icons.png) no-repeat;margin:0px 11px 0px 0px;}
.pay_system_icons span i:last-child{margin-right:0px;}
.pay_system_icons i.mastercard{background-position:0px -1px;}
.pay_system_icons i.visa{background-position:-46px -1px;}
.pay_system_icons i.yandex_money{background-position:-94px -1px;width:21px;}
.pay_system_icons i.webmoney{background-position:-128px -1px;margin-right:7px;}
.pay_system_icons i.qiwi{background-position:-172px -1px;margin-right:0px;}

/*footer menu*/
.footer_bottom .all_menu_block{padding:0px 0px 0px 18px;width:64%;}
.footer_bottom .all_menu_block .submenu_block, .footer_bottom .submenu_top .menu_item{width:33%;}
.footer_bottom .submenu_top{margin:0px 0px 11px;}
.footer_bottom .submenu_top .menu_item a{font-size:13px;font-weight:600;line-height:15px;text-decoration:none;}
.footer_bottom .all_menu_block ul li:before{content:"";}
.footer_bottom .all_menu_block ul{padding:0px 8px 0px 0px;}
.footer_bottom .all_menu_block ul li a{font-size:12px;line-height:18px;text-decoration:none;}

/*footer social*/
.footer_bottom  .social_block{width:32%;}
.footer_bottom .social_block .social_wrapper {width:100%;}
.footer_bottom  .social_block .social, .footer_bottom  .social_block .social div{font-size:0px;}
.footer_bottom  .social_block .social{padding:0px 0px 0px 25%;}
.footer_bottom  .social_block .social a{display:inline-block;margin:0px 10px 0px 0px;transition:opacity ease 0.5s;}
.footer_bottom  .social_block .social a:hover{opacity:0.8;}
.footer_bottom  .social_block .social a:last-child{margin-right:0px;}

/*popup*/
.popup.show{border-radius:0px;}
.popup .popup-intro{background:#fff !important;border-bottom:2px solid #ddd;border-bottom-width:2px !important;}
.popup .popup-intro .pop-up-title{font-size:26px;font-weight:500;line-height:18px;text-shadow:none;padding:35px 35px 36px;}
.popup .close, .popup .close  i, .popup-window-close-icon.popup-window-titlebar-close-icon{display:inline-block;width:19px;height:19px;border-radius:19px;-moz-border-radius:19px;-webkit-border-radius:19px;}
.popup .close{margin:0;position:absolute;right:5px;top:5px;cursor:pointer;}
.popup.show .close:hover, .popup-window-close-icon.popup-window-titlebar-close-icon:hover{box-shadow:none;}
.popup .close i, .popup-window-close-icon.popup-window-titlebar-close-icon:after{background-position:1px 2px !important;}
.popup .close:hover i, .popup-window-close-icon.popup-window-titlebar-close-icon:hover:after{background-position:-15px 2px !important;}
.bx-ie .popup .close:hover i, .bx-ie .popup-window-close-icon.popup-window-titlebar-close-icon:hover:after{background-position:-15px 2px !important;}
.form-control label .star{margin:0;top:0px;}
.form-block-wr label .star{margin-left:4px;}
.popup .form-wr{padding:29px 35px 35px;}
.popup .form-control{margin:0px 0px 19px;}
.popup .but-r{padding:2px 0px 0px;}
.popup .form_txt{padding:32px 30px 20px;}
.popup .but-r .buttons{margin-top:17px;}
div[id^=wait_comp]{display:none;}
.popup .label_block_capcha{width:48%;}
.popup .img_block_capcha{width:52%;}

/*popup auth*/
.popup.enter_frame{max-width:700px;width:610px;}
.auth_wrapp .main_info{width:62%;border-right:1px solid #e5e5e5;}
.auth_wrapp .socserv{width:38%;padding:51px 35px 0px 35px;}
.form_wrapp .reg_new{margin:22px 0px 0px 0px;}
.more_text_small{font-size:12px;color:#b3b3b3;line-height:16px;padding:11px 0px 0px;}
.popup .prompt.remember label{font-size:12px;font-weight:normal;display:inline-block;zoom:1;vertical-align:middle;margin:0;top:-4px;position:relative;font-weight:normal;font-family:Ubuntu, Arial, Helvetica,  sans-serif;}
.popup .prompt.remember{display:inline-block;zoom:1;vertical-align:middle;float:none;margin:5px 0px 0px;white-space:nowrap;}
.popup .reg-new{padding:24px 35px 30px;text-align:left;background:#f7f7f7;border-top:1px solid #e5e5e5;}
.popup .prompt.remember  input{width:auto;margin:0px 4px 0px 0px;}
.popup .forgot{margin:2px 0px 0px 5px;float:right;}
.r .forgot {font-size:11px;position:relative;top:-2px;margin-left:5px;outline:none;}
.popup .captcha_wrapp input[type="text"]{max-width:180px;}
.soc-avt{/*padding:18px 25px 10px 35px;*/ color:#888;font-size:12px;}
.soc-avt.inline{padding:0px;}
.soc-avt .row{margin:12px 0px 0px;}
.soc-avt .row .auth span{display:none;}
.soc-avt .row a i.soc-icon, .soc-serv-main .row a i, .catalog_detail .b-share a span {width:35px;height:35px;display:inline-block;background:url('images/soc_icons.png') top left no-repeat;transition:opacity 0.5s ease;}
.soc-avt .row a, .catalog_detail .b-share a{height:35px;width:35px;float:left;line-height:32px;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;text-decoration:none;cursor:pointer;padding:0px;}
.authorization-cols .col.authorization .soc-avt .row a, .soc-serv-main .row a, .soc-avt .row a, .catalog_detail .b-share a{margin:0px 5px 5px 0;clear:inherit;}
.soc-avt .row .button.short{font-size:10px;line-height:16px;text-transform:uppercase;width:auto;}
.soc-avt .row .button.short{position:relative;top:-1px;}
.bx-firefox .soc-avt .row .button.short{padding-top:9px;padding-bottom:10px;}
.soc-avt .row input[type="text"]{margin:9px 5px 15px 0px;}
.popup .soc-avt .row input[type="text"]{background:#fff;}
.soc-avt .row form input[type="text"] + span:not(.bx-ss-icon), .soc-avt .row form input[type="text"] + label + span:not(.bx-ss-icon){font-size:12px;padding:0px 10px 0px 0px;}
.soc-avt .row input[type="text"]{width:100% !important;}
.soc-avt .row #bx_auth_serv_formOpenID input[type="text"], .soc-avt .row  #bx_auth_serv_form_inlineOpenID input[type="text"]{width:100%;}
#bx_auth_servform, .bx-auth-service-form{position:relative;clear:both;}
#bx_auth_servform > div, .bx-auth-service-form > div{position:relative;margin:19px 0px 0px;}
.soc-avt .row label.error{top:-10px;left:0px;}
.soc-avt .row #bx_auth_serv_formOpenID label.error{top:8px;}
.soc-avt .icon{text-indent:0px;padding:0px;}

.soc-avt .row a i.soc-icon.odnoklassniki, .soc-serv-main .row a i.soc-icon.odnoklassniki, .catalog_detail .b-share .b-share-btn__odnoklassniki span {background-position:-40px 0px;}
.soc-avt .row a i.soc-icon.liveid, .soc-serv-main .row a i.soc-icon.liveid{background-position:0px -80px;}
.soc-avt .row a i.soc-icon.google, .soc-serv-main .row a i.soc-icon.google{background-position:-40px -40px;}
.soc-avt .row a i.soc-icon.vkontakte, .soc-serv-main .row a i.soc-icon.vkontakte{background-position:0px 0px;}
.soc-avt .row a i.soc-icon.mymailru, .soc-serv-main .row a i.soc-icon.mymailru, .catalog_detail .b-share .b-share-btn__moimir span{background-position:-120px 0px;}
.soc-avt .row a i.soc-icon.twitter, .soc-serv-main .row a i.soc-icon.twitter, .catalog_detail .b-share .b-share-btn__twitter span{background-position:0px -40px;}
.soc-avt .row a i.soc-icon.facebook, .soc-serv-main .row a i.soc-icon.facebook, .catalog_detail .b-share .b-share-btn__facebook span{background-position:-80px 0px;}
.soc-avt .row a i.soc-icon.livejournal, .soc-serv-main .row a i.soc-icon.livejournal{background-position:-120px -40px;}
.soc-avt .row a i.soc-icon.yandex, .soc-serv-main .row a i.soc-icon.yandex{background-position:-80px -40px;}
.soc-avt .row a i.soc-icon.openid-mail-ru, .soc-serv-main .row a i.soc-icon.openid-mail-ru{background-position:-120px -80px;}
.soc-avt .row a i.soc-icon.liveinternet, .soc-serv-main .row a i.soc-icon.liveinternet{background-position:-80px -80px;}
.soc-avt .row a i.soc-icon.blogger, .soc-serv-main .row a i.soc-icon.blogger{background-position:-40px -80px;}
.soc-avt .row a i.soc-icon.openid, .soc-serv-main .row a i.soc-icon.openid{background-position:0px -120px;}
.soc-avt .row a i:hover{opacity:0.8;}

/*breadcrumbs*/
.breadcrumbs{margin:23px 0px 11px;}
.breadcrumbs a{text-decoration:none;}
.breadcrumbs > .separator{position:relative;zoom:1;bottom:0px;display:inline-block;line-height:18px;/*height:15px;width:13px;*/ margin:0 9px;/*background:url('images/bredcrumb_arrow.png') -1px 0 no-repeat;*/ 	border:0 !important;}
.breadcrumbs .drop:hover .separator{background:rgba(0, 0, 0, 0) url("images/bredcrumb_arrow.png") no-repeat scroll -1px 0;border:0 none !important;bottom:3px;display:inline-block;height:15px;line-height:18px;margin:0 4px;position:absolute;width:14px;z-index:1;font-size:0;}
.container .breadcrumbs a span, .container .breadcrumbs span{color:#b6b5b5;font-size:12px;}

/*register*/
.registraion-page .form-block{padding:0px 44px;}
.registraion-page .main_info{width:73%;padding:38px 61px 25px 0px;border-right:1px solid #e5e5e5;}
.registraion-page .top p{position:relative;padding:0px 0px 17px 42px;}
.registraion-page .top p:before{content:"";display:inline-block;width:13px;height:9px;background:url('images/icons_wish.png') -36px -4px no-repeat;vertical-align:top;margin:12px 21px 0px -35px;position:relative;z-index:2;}
.registraion-page .top p:after{content:"";display:inline-block;width:26px;height:26px;position:absolute;top:3px;left:0px;border-radius:26px;}
.iblock.label_block{width:59%;position:relative;vertical-align:top;}
.iblock.label_block label{padding:0px;margin-bottom:4px;}
.registraion-page .main_info .form-control{ margin:0px 0px 19px;}
.iblock.text_block{width:41%;padding:20px 0px 0px 25px;color:#b3b3b3;line-height:16px;vertical-align:top;font-size:12px;}
.iblock.text_block *{line-height:16px;}
.registraion-page .form-block .form-control input[type="password"]{width:100%;}
.label_block_capcha{position:relative;width:43%;}
.img_block_capcha{width:48%;padding:24px 0px 0px 18px;vertical-align:bottom;}
.img_block_capcha img{float:right;}
.img_block_capcha .reload{cursor:pointer;}
.registraion-page .social_block{width:27%;padding:34px 0px 38px 45px;}
.registraion-page .social_block  .row .title{margin:0px 0px 10px;}
.registraion-page .main_info .form-control.register-captcha{margin-bottom:29px;max-width:100%;}
.captcha-row.register-captcha .captcha_image{width:auto;}

/* catalog */
/* base catalog styles */
#content .right_block.catalog{zoom:1;padding:0px 0px 0px 210px;margin:-3px 0 0;overflow:visible;}
#content .right_block .inner_wrapper{position:relative;zoom:1;padding:0px 10px 0px 10px;/*overflow:hidden;*/ right:-10px;z-index:2;}
#content .left_block.catalog{margin-top:29px;width:210px;}
#content .left_block.catalog.horizontal{margin-top:3px;}
.catalog .item_wrap{}
.catalog .item_wrap:not(.touch):hover, .catalog .item_wrap.hover{ box-shadow:0px 0px 20px rgba(0,0,0,0.10);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.10);-o-box-shadow:0px 0px 20px rgba(0,0,0,0.10);-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.10);}
.group_description{float:left;}
.catalog.right_block .group_description {padding: 14px 0 25px;width:100%;}
.catalog.right_block .bottom_nav + .group_description {padding-top: 19px;}

div.item-title{overflow:hidden;text-overflow:ellipsis;text-overflow:-o-ellipsis-lastline;display:-webkit-box;-webkit-line-clamp:50;-webkit-box-orient:vertical;white-space:normal;}
div.item-title a, div.item-title a span{font-size:13px;line-height:20px;display:block;font-weight:500;}
div.item-title a span {padding:0px 0px 0px;}

.item-stock{font-size:12px;line-height:15px;margin:6px 0px 2px;}
.item-stock > span{display:inline-block;vertical-align:top;font-size:12px;}
.item-stock .icon{width:12px;height:11px;background:url('images/icons_wish.png') 0px 0px no-repeat;margin:4px 6px 0px 0px;}
.item-stock .icon.stock{background-position:-19px -4px;}
.item-stock .icon.order{background-position:-4px -4px;}
.counter_wrapp .more_text{color:#b3b3b3;font-size:11px;line-height:14px;margin:16px 0px 0px;}

.ajax_load_btn{text-align:center;margin:-8px 0px 23px;}
/*.bottom_nav.table{clear:both;}*/
.bottom_nav{padding-bottom: 20px;}
.bottom_nav.block{padding-bottom: 25px;}
.bottom_nav .module-pagination{padding-bottom: 0;}
.bottom_nav.block .ajax_load_btn{/*margin-top:-6px;*/}
.more_text_ajax{font-size:13px;line-height:20px;font-weight:600;cursor:pointer;display:inline-block;position:relative;padding:10px 0px 10px 34px;}
.more_text_ajax:before, .more_text_ajax:after{content:"";display:block;position:absolute;}
.more_text_ajax:before{width:25px;height:25px;left:0px;top:8px;border-radius:25px;}
.more_text_ajax:after{width:15px;height:13px;left:5px;top:14px;background:url('images/icons_wish.png') -67px -82px;-webkit-transition:background 0.7s ease-in-out;-moz-transition:background 0.7s ease-in-out; -o-transition:background 0.7s ease-in-out; transition:background 0.7s ease-in-out;}
.more_text_ajax:hover:before{background:#383838;}
.more_text_ajax.loading:after{/*transform:rotate(1080deg);*/ -webkit-animation:spinner .5s linear infinite !important;animation:spinner .5s linear infinite !important;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d; -ms-transform-style:preserve-3d; transform-style:preserve-3d;}
.more_text_ajax:hover:after{/*transform:rotate(360deg);*/ -webkit-animation:spinner .5s ease-out 1;animation:spinner .5s ease 1;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d; -ms-transform-style:preserve-3d; transform-style:preserve-3d;}
/* WebKit � Opera */
@-webkit-keyframes spinner{
	from{
		-webkit-transform:rotate(0deg);
	}
	to{
		-webkit-transform:rotate(360deg);
	}
}
/* ��� ��������� �������� */
@keyframes spinner{
	from{
		-moz-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	to{
		-moz-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
.no_goods{padding:30px 30px 63px;border-top:1px solid #e5e5e5;}
.catalog_block_view.no_goods{border-top-width:0px;}
.no_goods .no_products{position:relative;float:left;background:url('images/empty.png') 0px 0px no-repeat;margin:0px 0px -8px;}
.no_goods .no_products:before{content:"";position:absolute;width:54px;height:54px;background:#DDD;left:0px;top:8px;border-radius:100%;}
.no_goods .no_products:after{content:"";position:absolute;width:22px;height:22px;background:url('images/empty.png') 0px 0px no-repeat;top:23px;left:16px;}
.no_goods .button{float:right;margin:17px 0px 0px;}
.wrap_text_empty{padding:10px 0px 15px 97px;}

/*root level*/
.catalog_section_list{border-top:1px solid #e5e5e5;font-size:0px;margin:41px 0px 4px;padding:60px 0px 0px;}
.catalog_section_list .section_item{line-height:20px;font-size:12px;width:50%;padding:0;margin:0 0 50px 0;display:inline-block;zoom:1;vertical-align:top;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;}
.catalog_section_list .section_item_inner {margin:0 45px 0 0;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;}
.section_item_inner .section_info a, .section_item_inner .section_info ul li.name a:hover{border-bottom:0px;font-weight:500;line-height:20px;}
.catalog_section_list .section_item li.name a{text-decoration:none;}
.catalog_section_list .section_item li.name a span{font-size:16px;font-weight:500;line-height:18px;}
.catalog_section_list .section_item li.name{display:block;margin-bottom:8px;}
.catalog_section_list .section_item li.sect{display:inline-block;padding:0px 5px 0px 0px;white-space:nowrap;}
.catalog_section_list .section_item .desc .desc_wrapp{display:inline-block;padding:0px;margin:14px 0px 0px;color:#888888;}

/*catalog subscection*/
.articles-list.sections{border-top:1px solid #e5e5e5;padding:0px 0px 0px;margin:41px 0px 18px;}
.articles-list.sections + hr.long {margin:55px 0 44px;}
.articles-list.sections + hr.long + .main_description{margin-bottom:25px;}
.articles-list.sections .item{width:50%;padding:50px 0px 0px;}
.articles-list .item .left-data{width:120px;float:left;}
.articles-list .item .left-data a{display:block;}
.articles-list .item .left-data a img{vertical-align:middle;}
.articles-list .item-title a span{display:inline-block;}
.articles-list .item .right-data .preview-text{font-size:13px;margin:0px 0px -5px;}
.articles-list .item .item-title{margin-bottom:9px;}
.articles-list .item .item-title a span{font-size:16px;}
.articles-list .item .item-title a{text-decoration:none;}
.articles-list .item .right-data{margin-left:150px;overflow:visible;}

/*filter*/
.bx_filter .form-control{margin-bottom:0;}
.bx_filter .bx_filter_section{border:1px solid #e5e5e5;margin:0 0px 20px 0;background:#fff;}
.bx_filter_param_label.disabled{opacity:0.4;cursor:default;}
.bx_filter .bx_filter_parameters_box{padding:13px 19px 14px;border-bottom:1px solid #e5e5e5;}
.bx_filter .bx_filter_button_box{clear:both;}
.bx_filter .bx_filter_button_box {text-align:center;background:#f7f7f7;padding:19px 19px;}
.bx_filter .bx_filter_parameters_box_title{font-size:13px;display:block;font-weight:500;cursor:pointer;position:relative;padding:0px 15px 0px 0px;}
.bx_filter .bx_filter_parameters_box_title >span{position:relative;display:inline-block;}
.bx_filter_parameters_box_title .hint .icon {position:relative;left:auto;right:-9px;z-index:200;}
.bx_filter .bx_filter_parameters_box_title:after, .bx_filter .bx_filter_parameters_box_title:before{position:absolute;content:'';top:50%;}
.bx_filter .bx_filter_parameters_box_title:after{width:8px;height:5px;right:0px;margin-top:-2px;background:url('images/arrows.png') -1px -162px no-repeat;}
.bx_filter .bx_filter_parameters_box_title:before{width:16px;height:16px;right:-4px;margin-top:-8px;background:#ddd;border-radius:16px;display:none;}
.bx_filter .active .bx_filter_parameters_box_title:after{margin-top:-3px;}
.bx_filter .bx_filter_parameters_box_title:hover:before{display:block;}
.bx_filter .active .bx_filter_parameters_box_title:after{background-position:-35px -162px;}
.bx_filter .bx_filter_parameters_box_title:hover:after{background-position:-1px -143px;}
.bx_filter .active .bx_filter_parameters_box_title:hover:after{background-position:-19px -143px;}
.bx_filter_button_box .bx_filter_block, .bx_filter_parameters_box.active .bx_filter_block{display:block;}
.bx_filter_vertical input[type="checkbox"] + label, .filter input[type="checkbox"] + label{padding-left:5px;position:relative;z-index:100;cursor:pointer;outline:none;}
.filter.label_block input + label{padding-left:23px;font-size:11px;}
.bx_filter_vertical input[type="checkbox"] + label.dib, .bx_filter_vertical input[type="checkbox"] + label.pal{padding:0px 3px 0px 0px;margin-bottom:5px;}
.bx_filter_vertical input[type="checkbox"] + label.sku, .sku_props .bx_item_detail_size ul li{display:inline-block;font-size:10px;border:1px solid #e5e5e5;padding:0 10px;text-align:center;margin:0px 3px 3px 0px;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;border-radius:2px;}
.bx_filter_vertical input[type="checkbox"] + label.sku:hover, .sku_props .bx_item_detail_size ul li:hover{background:#ddd;color:#fff;}
.bx_filter_vertical input[type="checkbox"] + label.sku span, .sku_props .bx_item_detail_size ul li span{font-size:10px;position:relative;display:block;}
.bx_filter_vertical input[type="checkbox"] + label.sku:hover span, .bx_filter_vertical input[type="checkbox"]:checked + label.sku span{color:#fff;}
.bx_filter .pict:nth-child(5n) label.dib{padding:0px;}
.bx_filter_vertical input[type="checkbox"] + label.disabled{cursor:default;}
.filter input[type="checkbox"], .filter input[type="radio"]{display:none;}
.sku_props{margin:17px 0px 2px;}
.buy_block .sku_props{margin:0px;}
.sku_props .wrapper_sku > div{margin:0px 0px 9px;}
.sku_props .wrapper_sku > div:last-child{margin-bottom:0px;}
.bx_catalog_item_scu ul{font-size:0px;margin:0px;}
.bx_catalog_item_scu ul li{position:relative;z-index:100;cursor:pointer;outline:none;font-size:11px;margin:0px 0px 2px;padding:0px 3px 0px 0px;display:inline-block;}
.bx_scu_scroller_container .missing/*, .ik_select_dropdown .missing*/{opacity:0.4;}
.sku_props ul li:before{display:none;}
.sku_props .bx_item_section_name{color:#383838;}
.bx_filter_vertical input[type="checkbox"] + label.sku.disabled:hover{background:#fff;color:#373737;border-color:#e5e5e5;}
.bx_filter_vertical input[type="checkbox"] + label.sku.disabled:hover span{color:#373737;}
.disabled{opacity:0.4;}
.bx_filter_vertical .bx_filter_block label:hover span.disabled *{color:#888;}

.bx_filter_vertical input[type="checkbox"]:checked + label:before, .bx_filter_vertical input[type="checkbox"] + label:not(.disabled):hover:before, .filter input[type="checkbox"]:checked + label:before, .filter input[type="checkbox"] + label:hover:before, .filter input[type="radio"]:checked + label:before,.filter input[type="radio"] + label:hover:before{display:inline-block;z-index:3;}
.bx_filter_vertical input[type="checkbox"]:checked + label:before, .bx_filter_vertical input[type="checkbox"]:checked + label:not(.disabled):hover:before, .filter  input[type="checkbox"]:checked + label:before, .filter input[type="checkbox"]:checked + label:hover:before, .filter input[type="radio"]:checked + label:before, .filter input[type="radio"]:checked + label:hover:before{z-index:-1;}
.bx_filter_vertical .filter input[type="radio"]:checked + label:before{z-index:0;}
.bx_filter_vertical input[type="checkbox"] + label:before, .filter input[type="checkbox"] + label:before, .filter input[type="radio"] + label:before, .bg_block:before{font-size:0;content:".";display:none;height:14px;width:14px;position:absolute;left:0px;top:0px;background:#ddd;z-index:-1;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.bx_filter_vertical input[type="checkbox"] + label:after, .filter input[type="checkbox"] + label:after, .bg_block:after{font-size:0;content:".";display:block;height:14px;width:14px;position:absolute;left:0px;top:0px;background:url('images/checkbox.png') 0px -6px no-repeat;z-index:2;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
.bx_filter_vertical input[type="checkbox"]:checked + label:after, .filter input[type="checkbox"]:checked + label:after{background-position:0px -28px;}
.filter input[type="radio"]:checked + label:after{background:url('images/checkbox.png') 1px -27px no-repeat;box-shadow:none;}
.bx_filter_vertical input[type="checkbox"]:checked + label.nab:before, .bx_filter_vertical input[type="checkbox"]+ label.nab:hover:before, .bx_filter_vertical input[type="checkbox"] + label.nab:after{display:none;}
.filter input[type="radio"] + label:after, .bg_block1:after{font-size:0;content:".";display:block;height:16px;width:16px;position:absolute;left:0px;top:-1px;background:#eeeeee;z-index:2;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;box-shadow:0px 0px 0px 1px #CFCFCF inset;-moz-box-shadow:0px 0px 0px 1px #CFCFCF inset;-webkit-box-shadow:0px 0px 0px 1px #CFCFCF inset;}
.filter input[type="radio"] + label:before, .bg_block:before{height:16px;width:16px;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;top:-1px;}
.bg_block:before, .bg_block:after{width:26px;height:26px;display:inline-block;}
.bg_block:after{background:url('images/icons_wish.png') -36px -5px no-repeat;width:12px;height:8px;left:-36px;top:12px;}
.bg_block:before{z-index:2;top:3px;left:-44px;}
.filter.radio input[type="radio"] + label:after, .filter.radio input[type="radio"] + label:before{width:14px;height:14px;}
.filter.radio input[type="radio"]:checked + label:after{background-position:0px -28px;}
.bx_filter .bx_filter_parameters_box.active .bx_filter_block i{font-size:15px;font-style:normal;color:#596b70;display:block;padding-bottom:3px;}
.bx_filter .bx_filter_parameters_box_container{margin-top:15px;}
.bx_filter .bx_filter_parameters_box_container.pict_block{margin-top:17px;}
.bx_filter .bx_filter_button_box .bx_filter_parameters_box_container{margin-top:0px;}
.bx_filter .bx_filter_parameters_box_container_block{font-size:11px;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:50%;color:#3f3f3f;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2){text-align:right;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(1){padding-right:8px;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_parameters_box_container_block:nth-child(2){padding-left:8px;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input{padding:5px 8px 4px;}
.bx_filter .divider{width:8px;height:1px;position:absolute;top:15px;left:50%;margin-left:-4px;background:#e5e5e5;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container{max-width:100%;position:relative;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_calendar_container input.calendar{padding:0 23px 0 4px;font-size:15px;}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container img.calendar-icon{display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;position:absolute;font-size:18px;top:0px;right:3px;}

.wrapp_all_inputs.wrap_md .iblock{width:100%;}
.filter_horizontal{padding:3px 0px 0px 20px;overflow:hidden;}
.filter_horizontal .wrapp_all_inputs.wrap_md .wrapp_change_inputs {width:30%;position:relative;margin:0px 0px 4px;}
.filter_horizontal .wrapp_all_inputs.wrap_md .wrapp_slider  {width:70%;padding:0px 0px 0px 50px;}
.filter_horizontal .smartfilter .bx_ui_slider_track{margin-top:16px;}
.filter_horizontal .bx_filter .bx_filter_button_box{text-align:left;}
.filter_horizontal .bx_filter_vertical input[type="checkbox"] + label:not(.dib){float:left;margin-right:10px;}
.filter_horizontal .bx_filter .bx_filter_popup_result.right{left:0px;background:transparent;position:relative;color:#888;margin:0px;padding-left:0px;line-height:20px;}
.filter_horizontal .bx_filter .bx_filter_popup_result.right a{display:none;}
.bx_filter #modef_mobile{display:none;}
