
/*catalog detail*/
.video_block{text-align:center;margin:0px 0px 30px;}
.video_block .description{text-align:left;}
.catalog_detail .item_main_info  .stickers{top:22px;left:22px;}
.offers_img, .offers_img a{transition:opacity 0.1s ease;text-align:center;}
.offers_img.wof{opacity:0;}
.img_wrapper .wrapp_thumbs{position:relative;}
.thumbs_navigation ul li{position:absolute;top:50%;margin-top:-14px;background:#FFF;z-index:2;}
.img_wrapper .thumbs_navigation ol li{display:none;}
.img_wrapper .thumbs_navigation ul li.flex-nav-prev{left:0px;}
.img_wrapper .thumbs_navigation ul li.flex-nav-next{right:0px;}
.info_item .top_info, .info_item .middle_info{border-bottom:1px solid #F2F2F2;padding:29px 30px;overflow:hidden;}
.info_item .top_info .iblock{vertical-align:middle;line-height:0px;}
.catalog_detail .top_info .like_icons{display: inline-block; font-size: 0; padding: 0 26px 0 0; top: 0; vertical-align: top;}
.catalog_detail .top_info .like_icons  > div{display:inline-block;vertical-align:top;}
.catalog_detail .top_info .like_icons  > div:last-of-type{margin-right:0;}
.catalog_detail .top_info .like_icons  > div.text.added{border-radius:2px;}
.catalog_detail .top_info .like_icons span.value{display:inline-block;vertical-align:top;border:1px solid #e5e5e5;padding:0px 2px;}
.catalog_detail .top_info .like_icons span.value.added{display:none;}
.catalog_detail .top_info .like_icons span.value:before{content:"";display:inline-block;vertical-align:middle;width:29px;height:29px;background:url('images/icons_wish.png') 5px -15px no-repeat;margin:0px 2px 0px 0px;}
/*.catalog_detail .top_info .like_icons span.value:after{top:1em;left:0;content:attr(title);}*/
.catalog_detail .top_info .like_icons .wish_item.added span.value:before{background-position:5px -44px;}
.catalog_detail .top_info .like_icons .compare_item span.value:before{background-position:-20px -13px;}
.catalog_detail .top_info .like_icons .compare_item.added span.value:before{background-position:-18px -44px;}
.catalog_detail .top_info .like_icons span{font-size:11px;opacity:1;visibility:visible;border:0px;display:inline-block;vertical-align:middle;margin:0px;background:none;}
.catalog_detail .top_info .like_icons span:hover{background:none;}
.catalog_detail .top_info .like_icons span.value span{display:inline-block;margin:1px 7px 0px 0px;}
.info_item .top_info .article{display:inline-block;font-size:11px;line-height:23px;padding:5px 26px 0 0;vertical-align: top;}
.info_item .top_info .article .value{background:#f0f0f0;padding:5px 7px;margin:0px 0px 0px 6px;}
.info_item .top_info .brand{padding:0 0 0 10px; float:right;}
.info_item .top_info .brand + div{}
.info_item .middle_info .prices .price{font-size:28px;line-height:20px;padding-right:5px;}
.info_item .middle_info .prices .discount *{margin-top:12px;font-size:16px;}
.info_item .middle_info .prices .sale_block{margin:11px 0px 0px;}
.info_item .middle_info .view_sale_block{margin-top:9px;}
.info_item .middle_info .item-stock{margin:14px 0px 0px;}
.info_item .middle_info .item-stock .store_view{cursor:pointer;}
.info_item .middle_info .prices_block{width:53%;padding:0px 20px 0px 0px;}
.info_item .middle_info .prices_block  .rating{margin:16px 0px 0px;}
.info_item .middle_info .buy_block {width:47%;}
.info_item .middle_info .buy_block .sku_props + .counter_wrapp, .info_item .middle_info .buy_block .buys_wrapp{padding-top:15px;}
.ajax_load.table .counter_wrapp{padding-top:0px;}
.info_item .middle_info .buy_block .sku_props + .counter_wrapp.woffers, .ajax_load  .counter_wrapp.woffers{transition:opacity 0.1s ease;opacity:0;}
.info_item .middle_info .buy_block .counter_wrapp{padding:0px;white-space:nowrap;}
.info_item .middle_info .buy_block .counter_wrapp .counter_block{margin-right:15px;width:116px;}
.info_item .middle_info .buy_block .counter_wrapp .counter_block input[type="text"]{width:62px;}
.info_item .middle_info .buy_block .counter_wrapp .more_text{font-size:12px;white-space:normal;}
.info_item .middle_info .buy_block .one_click{margin:15px 0px 0px;transition:opacity 0.1s ease;}
.noffer .info_item .middle_info .buy_block .one_click{opacity:1;}
.info_item .middle_info .preview_text{padding:22px 0px 0px 0px;font-size:13px;line-height:18px;}
.buy .counter_wrapp{padding:0px;}

.catalog_detail .tabs-head li.current{/*border-color:#e5e5e5;*/}
.catalog_detail .tabs_section{margin:-10px 0px 0px;}
.catalog_detail .tabs_section .tabs-head li{margin-top:10px;}

.catalog_detail .stock_board{padding:20px 15px 19px 84px;background:#f7f7f7;border-bottom:1px solid #e5e5e5;position:relative;font-size:12px;}
.catalog_detail .stock_board:before{content:"";display:inline-block;position:absolute;width:45px;height:45px;background:url('images/icons_goods.png') -1px -139px no-repeat;left:25px;top:21px;}
.catalog_detail .stock_board .title{font-size:14px;font-weight:600;}
.catalog_detail .stock_board .read_more{font-size:12px;}
.catalog_detail .stock_board  .txt{margin:5px 0 4px;line-height:18px;}
.share_wrapp{position:relative;}
.share_wrapp .text.button{font-size:11px;border-color:#e5e5e5;text-transform:none;padding:7px 9px 7px 29px;position:relative;}
.share_wrapp .text.button:before{content:"";display:inline-block;position:absolute;width:11px;height:12px;background:url('images/icons_wish.png') -66px -207px no-repeat;left:9px;top:9px;}
.share_wrapp .shares{display:none;position:absolute;top:42px;left:-5px;z-index:2;background:#fff;box-shadow:0px 0px 15px rgba(0,0,0,.12);border-radius:2px;margin:0px -20px;width:155px;}
.share_wrapp .shares .b-share{padding:20px 20px 15px !important;}
.share_wrapp .shares .b-share a{padding:0px !important;}
.share_wrapp .shares .b-share a:nth-child(3n){margin-right:0px;}
.share_wrapp .shares:after{content:'';position:absolute;width:0;height:0;border:11px solid transparent;border-bottom-color:#fff;left:50%;top:-16px;margin-left:-11px;}
.catalog_detail .props_list{width:100%;margin:-5px 0px 0px;color:#555;}
.catalog_detail .tabs_content .char_block{margin-bottom:30px;}
.catalog_detail .props_list td{vertical-align:bottom;font-size:13px;}
.props_list .hint{position:absolute;top:0px;right:-8px;}
.props_list .hint .icon{background:#eef1f1;border-radius:100%;}
.catalog_detail .tabs_content  .descr_div > div{padding-bottom:4px;}
.catalog_detail .tabs_content .descr_div .char_block{width:50%;padding:0px 40px 36px 0px;margin-bottom:0;}
.catalog_detail .tabs_content .descr_div .char_block.wide{width:100%;}
.catalog_detail .tabs_content .descr_div .char_block + .serv{padding:0px 0px 0px 10px;}
.catalog_detail .tabs_content .serv{width:50%;}
.catalog_detail .tabs_content .serv.block_view{padding:0px;}

.props_block .char{margin:12px 0;display:inline-block;width:15%;text-align:left;padding:0px 10px 0px 0px;vertical-align:top;}
.props_block .char_name{text-align:left;font-weight:400;font-size:12px;}
.props_block .char_value{font-weight:500;font-size:14px;}
.catalog_detail .tabs_content .props_block .char{font-size:13px;}
.catalog_detail .tabs_content .props_block .char .hint{position:absolute;top:0px;right:-19px;}

.catalog_detail .wrapp_docs{width:25%;padding:0px 20px 0px 0px;}
.button.wicon i{background-position:-91px -206px;margin:0px 10px 0px 5px;}
.catalog_detail .show_btn{width:15%;float:left;}
.catalog_detail .form_wr{width:85%;font-size:12px;padding:0px 0px 0px 21px;float:left;}

.catalog_detail .buy_block  .button.in-cart i{background-position:-36px -3px;margin-right:10px;width:12px;}

.forms .text_block{width:29%;font-size:13px;padding:0px 60px 0px 0px;}
.forms .form_block{width:71%;}

/*reviews*/
.reviews-reply-field .lhe-stat-toolbar-cont{border:1px solid #E5E5E5;border-bottom-width:0px;box-sizing:border-box;border-radius:2px 2px 0px 0px;background-color:#F7F7F7;}
.reviews-reply-field iframe{border:1px solid #E5E5E5 !important;box-sizing:border-box;border-radius:0px 0px 2px 2px;background-color:#F7F7F7;}
.reviews-reply-field-upload{padding:11px 0px 19px;}
.forum-upload-file-attach{font-size:13px;}
.reviews-reply-field input[type="checkbox"]{display:none;}
.filter label span{line-height:14px;}
.reviews-reply-field-settings{padding:0px 0px 16px;}
.reviews-post-reply-buttons{margin:0px 0px 2px;}
.reviews-reply-buttons .button:first-child{margin:0px 13px 0px 0px;}
.reviews-post-reply-buttons a{font-size:11px;}
.reviews-reply-header, .reviews-reply-fields label{margin:0px 0px 2px 0px;display:block;}
.reviews-reply-fields{margin:0px 0px 19px 0px;}
.reviews-block-container{margin:0px 0px 30px 0px;}
.reviews-post-table{font-size:12px;border-bottom:1px solid #e5e5e5;width:100%;margin:0px 0px 13px;}
.reviews-post-table thead td .message-post-date{line-height:14px;padding-left:16px;font-size:10px;background:url('images/clock_small.png') -2px -4px no-repeat;margin-left:10px;display:inline-block;}
.reviews-post-reply-buttons span.separator{background-color:#E0E0E0;display:inline-block;margin:0 4px;height:8px;line-height:5px;width:1px;}
.reviews-post-table .reviews-text{margin:3px 0px 3px;}
.forum-quote{background:#f8f2d4;width:100%;margin:5px 0px 0px;}
blockquote.bx-quote{background:#f8f2d4 !important;}
.forum-quote tr th{text-indent:-9999px;display:none;}
.forum-quote tbody tr td{border:1px solid #dddddd;padding:8px 13px 0px;background:url("images/font_quote.gif") no-repeat scroll -1px -1px;}
.forum-quote tbody tr td a, .reviews-header-title a {cursor:default;}
.reviews-reply-field-captcha .text_block{padding:0px 10px 0px 0px;font-size:12px;}
.reviews-reply-field-captcha .capch_block{padding:17px 0px 0px;line-height:0px;}
div.reviews-header-box{color:#fff;}
div.reviews-info-box, .reviews-note-box{border:1px solid #ddd;padding:10px;margin:0px 0px 20px;}
div.reviews-code-box{font-size:12px;width:100%;border-width:1px solid #ddd;background:#f8f2d4;}
div.reviews-code-box ol, div.reviews-code-box ol li, div.reviews-code-box ol li span{margin:0;padding:0;border:none;}
div.reviews-code-box ol{list-style:decimal;margin-left:3em;padding:0.5em 0;}
div.reviews-code-box ol li{list-style:decimal-leading-zero;list-style-position:outside !important;padding:0 0.5em 0 1.5em !important;margin:0;line-height:1.5em;}
.reviews-note-box  p{margin-bottom:0px;}
.reviews-note-box .reviews-note-error{color:#e62222 ;}

/*order items*/
.bx_ordercart .module-cart thead tr td.item{text-align:center;}
.bx_ordercart .module-cart table td.name-cell.no_img, .bx_ordercart .module-cart table td.custom .no_img{padding-top:8px;}
.bx_ordercart .module-cart table td.cost-cell.no_img{padding-top:9px;}
.bx_ordercart .module-cart table td.cost-cell.notes.no_img{padding-top:6px;}
.bx_ordercart .module-cart table tbody td.custom{padding-top:54px;}
.bx_ordercart.basket_wrapp{margin:0px;}
.bx_ordercart .module-cart td{white-space:nowrap;}
.bx_ordercart_order_sum{width:100%;margin:10px 0px 6px;}
.bx_ordercart_order_sum td{font-size:14px;padding-top:5px;padding-bottom:5px;}
.bx_ordercart_order_sum td.custom_t1{width:89%;padding:0px 29px 0px 0px;text-align:right;}
.bx_ordercart_order_sum td.fwb{font-weight:600;vertical-align:top;padding-top:5px;}
.bx_ordercart_order_sum td.fwb strike{font-size:12px;font-weight:500;}
.bx_section_bottom h3{margin-bottom:29px;}
.bx_section_bottom .bx_block{margin-bottom:20px;}
.bx_ordercart_order_pay_center{text-align:right;margin:0px 0px 5px;}
.confirm .bx_section{padding-left:88px;}
.confirm h3{position:relative;padding:5px 0px 12px 0px;}
.sale_order_full_table.pay{margin:35px 0px 0px;}
.confirm h5{margin-bottom:10px;}
#order_form_div .confirm .button{font-size:10px;padding-top:11px;padding-bottom:10px;}
#order_form_div input[type="submit"]{font-size:10px;padding:11px 21px 10px 20px;text-transform:uppercase;box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;outline:none;cursor:pointer;line-height:16px;background:#DDD;color:#000;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;text-align:center;display:inline-block;border:none;position:relative;font-family:"Ubuntu",Arial,Helvetica,sans-serif;letter-spacing:0.4px;}

/*personal*/
.border_block{padding:38px 43px;border:1px solid #E5E5E5;position:relative;}
.form-block-wr .main .iblock, .soc-serv-main {font-size:12px;}
.form-block-wr  .but-r{padding:26px 0px 0px 0px;}
.soc-serv-main .soc-serv-title-grey{padding:0px 0px 14px;}
.passw .text_block{padding-top:35px;}
.adaptive{display:none;}

/*history list*/
.filter_block{padding:17px 24px 14px;overflow:hidden;}
.filter_block  ul{font-size:0px;margin:0px;float:left;}
.filter_block  ul li{font-size:13px;display:inline-block;vertical-align:top;font-weight:600;padding:0px 25px 0px 0px;}
.filter_block  ul li:before{display:none;}
.filter_block  ul li:last-child{padding-right:0px;}
.filter_year{float:right;margin:-5px 0;width:100px;}
.filter_year .common_select .common_select-link{margin:0;}
.module-orders-list.colored thead td{padding-bottom:9px;}
.module-orders-list.colored tbody td{padding:15px 5px 15px;}
.module-order-history .module-orders-list .tr-d:hover td{background:#f7f7f7;}
.module-orders-list.colored tbody td.not_payed{color:#e62222;}
.module-orders-list.colored tbody td.payed{color:#37ac09;}
.module-orders-list .status.canceled{color:#e62222;}
.module-orders-list.colored tbody td.price-cell, .module-orders-list.colored tbody td.summ-cell, .module-order-history.orderdetail .module-orders-list tr td.price{font-weight:600;white-space:nowrap;}
tr.drop td{border-top-width:0px;}

/*history detail*/
.module-order-history.orderdetail .module-orders-list tr td{border:1px solid #e5e5e5;padding:11px 19px 14px;text-align:left;}
.module-order-history.orderdetail .module-orders-list tr.title td{border:0px;padding:0px;}
.module-order-history.orderdetail h4{margin:36px 0 27px;}
.module-order-history.orderdetail .module-orders-list tr td.vimg{text-align:center;border-right-width:0px;}
.module-order-history.orderdetail .module-orders-list tr td.vimg + .vname{border-left-width:0px;}
.module-order-history .module-orders-list .drop-cell .not-payed .text{font-size:13px;width:73%;padding:0px 10px 0px 0px;}
.module-order-history .module-orders-list .drop-cell .not-payed .pays{width:27%;text-align:right;}
.module-order-history.orderdetail .result-row{margin:19px 0px 0px;}
.module-order-history.orderdetail .result-row .result{padding:0px;}
.module-order-history.orderdetail .result-row .result td{padding:0px;border:0px;}
.module-order-history.orderdetail .module-orders-list thead tr td{padding:8px 12px 9px;background:#f7f7f7;border-left-width:0px;border-right-width:0px;}
.module-order-history.orderdetail .module-orders-list.goods tr td{border-left-width:0px;border-right-width:0px;}
.module-order-history.orderdetail .module-orders-list.goods tr td:first-child{border-left-width:1px;}
.module-order-history.orderdetail .module-orders-list.goods tr td:last-child{border-right-width:1px;}
.module-order-history.orderdetail .module-orders-list tr td .bx_ol_sku_prop td{border:0px;padding:0px;font-size:12px;}

/*auth*/
.forgot{font-size:12px;float:right;}
.but-r .buttons{margin:21px 0px 0px 0px;}
.soc-serv-main .row{margin:0px;}
.bx-touch .fancybox-nav span{visibility:visible;}
.back .back{margin:10px 0px 0px;display:inline-block;}

/* front-page sliders */
	.specials_slider_wrapp, .tab_slider_wrapp{/* margin:0 -20px;padding:32px 20px 22px;*/}

	.specials_slider_wrapp ul.tabs_content, .tab_slider_wrapp ul.tabs_content{margin:1px -13px 20px;padding:0 13px;}
	.specials_slider_wrapp ul.tabs_content li.tab, .tab_slider_wrapp ul.tabs_content li.tab{margin:0 -13px;padding:0 13px;}

/* viewed product slider */
	.common_product .content_inner{margin:-13px -13px 0;padding:13px 13px 0;}
	.common_product .flex-viewport{margin:0px -13px;padding:0 13px;}
	.common_product .flex-viewport ul.slides{margin:0px -13px;padding:0 13px;}

/*subscribe*/
.subscribe-edit .more_text_small{padding-left:20px;}
.subscribe-edit h5{font-size:13px;margin-bottom:5px;}
.data-table.top .left_blocks{width:40%;}
.data-table.top .right_blocks{width:60%;}

/*search*/
.search-page-wrap .form-control{float:left;margin:0px 10px 0px 0px;}

/*brands*/
.similar_products_wrapp h3{margin-bottom:37px;padding:7px 0px 0px;}
.similar_products_wrapp .slider_navigation.top_big{top:-66px;}
.similar_products_wrapp .wrapper_block .all_wrapp{margin:0px;}

/*articles*/
.row{margin:30px -15px 0px -15px;font-size:0px;}
.row .item_block{padding:0px 15px 0px 15px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.row .item_block > a{display:block;overflow:hidden;}
.row .item_block > a img, .articles-list.lists_block  .item .left-data img{vertical-align:middle;max-height:100%;max-width:100%;}
.articles-list.vertical .item {/*float:left;*/ display:inline-block;vertical-align:top;width:33.33%;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;margin:0px 0px 37px;overflow:hidden;}
.articles-list.vertical .item_block.item{padding:0px 15px 0px 15px;border-bottom-width:0px;margin-top:0px;}
.articles-list.vertical .item_block.item  .left-data{float:none;width:100%;text-align:center;max-width:initial;}
.articles-list.vertical .item_block.item  .left-data a{height:190px;line-height:185px;margin:0px 0px 14px;}
.articles-list .item_block.item  .left-data a{overflow:hidden;}
.articles-list.vertical .item_block.item  .left-data img{max-height:100%;max-width:100%;}
.articles-list.vertical .item_block.item  .right-data{float:none;width:100%;text-align:left;margin:0px;}
.articles-list.vertical .item .date_small{margin:0px 0px 5px;}
.articles-list.vertical .item .item-title{margin-bottom:7px;}
.articles-list.vertical .item .item-title a span{font-size:14px;}
.articles-list.vertical .item_block.item  .right-data .preview-text{margin:0px;padding:0px;}

.articles-list.lists_block .item .left-data{max-width:190px;width:22%;text-align:center;display: inline-block;vertical-align: top;}
.articles-list.lists_block.faq .item .left-data{max-width:175px;}
.articles-list.lists_block .item {margin-top:30px;padding:0px 0px 30px 0px;border-bottom:1px solid #e5e5e5;}
.articles-list.lists_block .item:first-child {margin-top:0px;}
.articles-list.lists_block .right-data{padding: 0 30px 2px;margin-left: 0;display: inline-block;vertical-align: top;width: 78%;box-sizing: border-box;}
.articles-list.lists_block + .module-pagination{border-top-width:0px; float: left; width: 100%;}
.articles-list.lists_block  .item .left-data img{max-height:initial;}
.articles-list.lists_block.news { float: left; width: 100%; }
.content_wr_float { float: left; width: 100%; }

.right_side.wide{width:230px;}
.left_side.wide{padding-right:240px;}
.ask_small_block{border:1px solid #e5e5e5;}
.ask_small_block .ask_btn_block{padding:29px 20px;text-align:center;}
.ask_small_block .description{font-size:12px;line-height:18px;padding:19px 24px 19px;}

.ask_big_block{min-height:30px;margin:17px 0px 20px;border:1px solid #e5e5e5;padding:29px 40px;}
.ask_big_block .ask_btn_block{float:left;}
.ask_big_block .description{padding-left:175px;line-height:16px;}

/*detail*/
.news_detail_wrapp.big .detail_picture_block{height:188px;line-height:185px;padding:5px;}
.margin.preview_text{margin:0px 0px 36px;}
.galley.row{margin:0px -10px 0px -10px;}
.galley.row .item_block {padding:0px 10px 20px 10px;margin:0px 0px 20px 0px;}
.galley.row .item_block > a{height:143px;line-height:140px;}
.left_side.wide .common_product .content_inner{margin-right:-16px;}

/*vacancy*/
.job.border_block{margin:0px 0px 37px;}
.job.border_block  .wrap_md > div{font-size:13px;}
.job.border_block  .text{width:57%;padding:0px 46px 0px 0px;}
.job.border_block  .phone{width:23%;padding:0px 10px 0px 0px;}
.job.border_block  .phone .wrap_phones{overflow:hidden;}
.job.border_block .medium {color: #888888; font-size: 12px; line-height: 15px; margin-bottom: 4px; display:inline-block;vertical-align: top;}
.job.border_block .grey{display:inline-block;vertical-align: top;width: 100%; margin-bottom: 23px;font-size: 13px; line-height: 20px; color:#383838;}
.job.border_block  .but{width:20%;text-align:right;}
.jobs_wrapp{border:1px solid #E5E5E5;}
h3.jobs{margin-bottom:28px;}
.jobs_wrapp .item:first-child{margin-top:0;border-top-width:0px;}
.jobs_wrapp .item{padding:24px 19px 18px 28px;border-top:1px solid #e5e5e5;}
.jobs_wrapp .item.opened{background:#f7f7f7;}
.jobs_wrapp .item .name{cursor:pointer;}
.jobs_wrapp .item .salary_wrapp{text-align:right;}
.jobs_wrapp .item .salary{font-size:14px;margin:1px 0px 0px;padding:0px 42px 0px 10px;white-space:nowrap;font-weight:500;}
.jobs_wrapp .item tr td{vertical-align:top;}
.jobs_wrapp .item  .name .title .salary{padding:5px 0px 0px;display:none;}
.jobs_wrapp .item  .name .title h4{margin:0px;text-align:left;}
.jobs_wrapp .item  .item_title{font-size:16px;}
.jobs_wrapp .item  .description_wrapp{margin:11px 0px 0px;display:none;padding:0px 0px 11px;}
.jobs_wrapp .item  .description_wrapp .description{margin:0px 0px 25px;}
.jobs_wrapp .item .opener_icon {position:relative;top:-3px;}
.jobs_wrapp .item .opener_icon.opened {/*top:-2px;*/}

/* CONTACTS PAGE */
.contacts_map{margin-top:4px;margin-bottom:16px;position:relative;min-height:400px;}
.contacts_map:before{background:rgba(255, 255, 255, 0.55) url("images/map.png") no-repeat scroll center center;content:" ";height:100%;left:0;opacity:0.07;position:absolute;top:0;width:100%;}
.bx-google-map, .bx-google-map{background-color:transparent !important;}
.contacts_left{float:left;width:370px;}
.contacts_right{margin-left:385px;}
.contacts_right .fancy{display:inline-block;vertical-align:top;*display:inline;zoom:1;width:210px;height:143px;margin:0 20px 20px 0;float:left;text-align:center;line-height:140px;}
.contacts_right .fancy img{max-height:100%;max-width:100%;vertical-align:middle;}
body .contacts_right blockquote{margin:39px 0 34px;}
.store_property{margin-bottom:23px;word-break:break-all;}
.store_property .title{color:#888888;font-size:12px;line-height:15px;margin-bottom:4px;}
.store_property .value{color:#383838;font-size:13px;line-height:20px;}

/* GOOGLE MAP */
.module-contacts-map-layout{position:relative;overflow:hidden;}
.module-contacts-map-layout .map{height:559px;}
.module-contacts-map-layout .controls{position:absolute;z-index:2;width:29px;height:57px;background:url('images/map_con.png') 0px 0px no-repeat;margin:-29px 0 0;right:20px;top:50%;}
.module-contacts-map-layout .controls.left{left:18px;top:50%;}
.module-contacts-map-layout .sh{width:100%;height:5px;z-index:10;box-shadow:0 0 10px rgba(0,0,0,.35);position:absolute;left:0;}
.module-contacts-map-layout .sh.top{top:-7px;}
.module-contacts-map-layout .sh.bottom{bottom:-7px;}
.module-map .controls .zoomIn, .module-map .controls .zoomOut{height:28px;cursor:pointer;font-size:0px;}
.module-map .infoBox{background:#ffffff none repeat scroll 0 0;left:50%;position:absolute;top:initial;font-family:"Ubuntu",sans-serif;}
.module-map .infoBox .wrap-big{padding:25px 30px 30px;position:relative;width:230px;color:#383838;line-height:18px;}
.module-map .infoBox .close_info{position:absolute;border-radius:50%;cursor:pointer;font-size:0;top:6px;right:5px;height:15px;width:15px;z-index:6;}
.module-map .infoBox .close_info:after{background:rgba(0, 0, 0, 0) url("images/close_icons.png") no-repeat scroll -2px -28px;position:absolute;content:" ";cursor:pointer;height:7px;width:7px;top:4px;left:4px;z-index:7;}
.module-map .infoBox .close_info:hover{background-color:grey;}
.module-map .infoBox .close_info:hover:after{background-position:-22px -28px;}
.module-map .infoBox .inner::after{background:rgba(0, 0, 0, 0) url("images/shadow.png") no-repeat scroll center top;bottom:-9px;height:10px;left:0;position:absolute;right:0;content:" ";z-index:60;}
.module-map .infoBox b{font-size:14px;line-height:18px;}
.module-map .infoBox .title{font-size:13px;font-weight:bold;line-height:20px;margin-bottom:11px;}
.module-map .infoBox .metro, .module-map .infoBox .schedule, .module-map .infoBox .phone, .module-map .infoBox .email{margin-bottom:5px;}
.module-map .infoBox .button{margin-top:10px;}
.module-map .infoBox .metro > i, .shops.list .item .metro i, .store_property.metro .value i, .stores_list .store_text.metro .value i{background:rgba(0, 0, 0, 0) url("images/icons_wish.png") no-repeat scroll -1px -237px;display:block;float:left;height:9px;margin:5px 6px 0 0;width:14px;}

/* STORES - SHOPS */
.shops.list .item{position:relative;overflow:hidden;min-height:69px;padding:30px 0;border-top:1px solid #e5e5e5;color:#383838;}
.shops.list .item:first-of-type{border-top:none;padding-top:14px;}
.shops.list .item .image{width:100px;position:absolute;left:0;height:69px;line-height:66px;text-align:center;}
.shops.list .item .image img{max-width:100%;max-height:100%;vertical-align:middle;}
.shops.list .item.wi .image{display:none !important;}
.shops.list .item .rubber{margin-left:130px;overflow:hidden;}
.shops.list .item .rubber > div{float:left;overflow:hidden;padding-top:11px;word-break:break-all;}
.shops.list .item.wi .rubber{margin-left:0;}
.shops.list .item .title_metro{width:50%;margin-top:-1px;padding-right:3%;}
.shops.list .item .schedule_phone_email{width:47%;}
.shops.list .item .schedule{width:60%;padding-right:3%;float:left;}
.shops.list .item .phone_email{float:left;}
.shops.list .item .title{font-size:15px;font-weight:500;margin-bottom:5px;}
.shops.list .item .metro{margin-bottom:5px;}
.shops.list .item .metro i, .store_property.metro .value i, .stores_list .store_text.metro .value i{margin-top:7px;}
.shop.detail a.back{display:inline-block;font-weight:bold;margin-top:35px;}

/* FAQ */
.faq_ask{border:1px solid #e5e5e5;padding:44px;}
.faq_ask .form .form_footer{margin-bottom:0;}
.button.faq_button{background-color:#383838;float:left;padding:9px 18px 10px 39px;text-align:center;width:97px;position:relative;}
.button.faq_button > span{display:inline;}
.button.faq_button > span:last-of-type{display:none;}
.button.faq_button.opened > span{display:none;}
.button.faq_button.opened > span:last-of-type{display:inline;}
.button.faq_button i{background:rgba(0, 0, 0, 0) url("images/arrows.png") repeat scroll 1px -441px;display:block;height:9px;left:18px;position:absolute;top:13px;width:12px;}
.button.faq_button.opened i{background-position:-17px -441px;}
.faq_desc{margin-left:183px;margin-top:-4px;}
.faq_ask .form{margin:23px 0 0;}
.faq_ask .form_head h4{display:none;}
.faq.list{margin:36px 0 0;}
.faq_section{border:1px solid #e5e5e5;margin:28px 0 26px;}
.faq.list .item{padding:19px 24px 22px;border-bottom:1px solid #e5e5e5;}
.faq.list .item:last-of-type{border:none;}
.faq.list .item.opened{background-color:#f7f7f7;}
.faq.list .item .q{font-weight:bold;position:relative;}
.faq.list .item .q .opener_icon{position:absolute;right:-3px;top:-5px;}
.faq.list .item .q a{display:block;padding:0px 20px 0px 0px;}
.faq.list .item .a{display:none;padding-top:14px;}

/* STAFF */
/*.staff.list{border:1px solid #e5e5e5;}*/
.staff.list .staff_section{border:1px solid #e5e5e5;border-bottom:none;position:relative;}
.staff.list .staff_section:last-of-type{border-bottom:1px solid #e5e5e5;}
.staff.list .staff_section_title{padding:25px 29px 4px;position:relative;}
.staff.list .staff_section_title a{display:block;}
.staff.list .staff_section_title .opener_icon{position:absolute;right:21px;top:18px;}
.staff.list .staff_section.opened .staff_section_title{background-color:#f7f7f7;}
.staff.list .staff_section_items{overflow:hidden;}
.staff.list .staff_section .staff_section_items{display:none;border-top:1px solid #e5e5e5;padding:39px 39px 0;}
.staff.list .item{position:relative;width:50%;float:left;overflow:hidden;margin-bottom:40px;box-sizing:border-box;}
.staff.list .item:nth-child(2n+1){padding-right:13px;clear:both;}
.staff.list .item:nth-child(2n){padding-left:12px;}
.staff.list .item .image{height:170px;line-height:167px;width:170px;text-align:center;float:left;}
.staff.list .item .image img{vertical-align:middle;max-width:100%;max-height:100%;}
.staff.list .item .info{margin-left:195px;}
.staff.list .item.wi .info{margin-left:0;}
.staff.list .item .name{color:#383838;font-size:16px;font-weight:bold;margin:-4px 0 1px;}
.staff.list .item .post{font-size:12px;}
.staff.list .item .phone{margin-top:13px;}
.staff.list .item .email{margin-top:7px;}
.staff.list .item .phone > div, .staff.list .item .email > div{color:#383838;font-size:12px;margin-bottom:-3px;}

/*composite btn*/
#bx-composite-banner a.bx-composite-btn{border:0px;margin:26px 0px 0px;}

/*basket*/
.empty_cart .card_popup_frame.popup .basket_empty{display:block;}
.empty_cart .card_popup_frame.popup .total_wrapp{display:none;}

.button_wrap .button{-webkit-appearance:none;}
.iblock .icon_error_block{float:right;}
.iblock .icon_error_block:after{display:none;}
.icon_error_block {box-sizing: border-box; min-height: 34px; padding-left: 50px; position: relative; text-align: left; width: 100%;}
.basket_fly .icon_error_block {width: inherit;}
.basket_fly .module-cart .colored tfoot td.row_titles .item_title{margin-top:2px;}
.icon_error_block:after{background:#e62222 url("images/warning_white.png") 0px 0px no-repeat;top:0px;height:40px;width:40px;left:0;position:absolute;content:" ";z-index:60;display:block;}
.icon_error_block b{font-size:15px;}
.backet_back_wrapp .basket_back{display:inline-block;vertical-align:top;}

.basket_print{display:inline-block;height:34px;vertical-align:top;width:130px;text-align:left;font-weight:bold;line-height:15px;}
.basket_print i{display:block;width:34px;height:34px;margin-right:10px;float:left;background:rgba(0, 0, 0, 0) url("images/print.png") no-repeat scroll center center;border-radius:50%;}
.basket_print span{white-space:normal;vertical-align:middle;}
.basket_print:hover{color:#383838;}
.basket_print:hover i{background-color:#383838;}
.basket_wrapp .module-cart table.bottom .bottom_btn .backet_back_wrapp.error .iblock.back_btn{padding-right:0px;}
.basket_wrapp .module-cart table.bottom.middle.error td.row_values{padding-left:21px;}
.basket_fly .basket_fly .icon_error_block{text-align:left;float:left;padding:0px 0px 0px 60px;}
.basket_fly .basket_fly .icon_error_block:after{left:0px;}

.view_sale_block.offers { display: none; }

/*detail*/
.catalog_detail .cost.prices .price_name, .catalog_detail .item-stock > span, .catalog_detail .item-stock{font-size:12px;}
.catalog_detail .info_item .middle_info .prices .price{margin-top:3px;}
.catalog_detail .info_item .middle_info .prices .price.discount{margin-top:4px;margin-bottom:1px;}
.catalog_detail .info_item .middle_info .prices .sale_block{margin-bottom:4px;}
.catalog_detail .cost.prices .sale_block + .price_name{margin-top:15px;}
.catalog_detail .middle_info .cost.prices .price + .price_name{padding:14px 0px 0px;}

/* BASKET PRINT PAGE */
.print .basket_print_desc{margin:70px 0 50px;overflow:hidden;}
.print #panel, .print .top-h-row, .print .catalog_menu, .print #header .middle-h-row .center_block > *, .print #header .middle-h-row .center_block > .middle_phone .order_wrap_btn, .print #header .middle-h-row .basket_wrapp, .print footer, .print .footer, .print .breadcrumbs, .print .basket_sort, .print .counter_block span, .print .bigdata_recommended_products_container, .print .bottom_btn, .print .coupon, .print .style-switcher, .print .delay-cell, .print .remove-cell, .print .bigdata_recommended_products_items{display:none !important;}
.print div#jivo-iframe-container{display:none !important;visibility:hidden;}
.print .counter_block, .print .counter_block input, .print .bottom.middle .top_total_row, .print #header{border-color:transparent !important;}
.print .counter_block input{background:none !important;}
.print .row_values{width:178px !important;}
.print #header .middle-h-row .center_block > .middle_phone, .print .wrapper.has_menu #header .wrapper_inner .middle-h-row .center_block .middle_phone, .print .wrapper.has_menu #header .phones{display:block !important;text-align:right;}
.print .wrapper.has_menu #header .middle-h-row .center_block .middle_phone .phone_text a{font-size:19px;}
.print .basket_fly #header .middle-h-row .center_block{padding-right:0;}
.print h1{margin-top:20px;}
.print .basket_print_desc .store_property{display:inline-block;float:left;margin-right:3%;vertical-align:top;width:22%;}
.print .basket_print_desc .store_property:last-of-type{margin-right:0;}
.print body .wrapper #header{margin-bottom:0 !important;}
.print .wrapper{padding-bottom:0;}
.print table{page-break-inside:auto;}
.print tr{page-break-inside:avoid;page-break-after:auto;}

/*stores block*/
.stores_block_wrap .stores_block .stores_text_wrapp.image_block .imgs { width: 100px; /*height: 100px;*/ display: inline-block; vertical-align: top; margin: 0px 0px 0px; float: left; text-align: center; }
.stores_block_wrap .stores_block .stores_text_wrapp.image_block .imgs img { vertical-align: middle; }
.stores_block_wrap .stores_block .stores_text_wrapp .main_info { max-width: 500px; }
.stores_block_wrap .stores_block .stores_text_wrapp.image_block .main_info { width: 100%; margin: 0px 0px 0px 120px; max-width: auto; }
.stores_block_wrap .stores_block .stores_text_wrapp.image_block .main_info > span { display: block; padding: 0px; max-width: 300px; }
.stores_block_wrap .stores_block .stores_text_wrapp span.p10 { padding: 0px 0px 0px 5px; }
.stores_block_wrap .stores_block.w_image:before { top: 22px; }
.stores_block_wrap .stores_block.wo_image .item-stock { top: 50%; position: absolute; right: 0px; margin-top: -10px; }

.item_info .buttons_block .button { float: left; } /* fix other button in special tab */
.catalog_detail .offers_table .cost.prices .price_name { /*text-align: left;*/ }
.catalog_detail .offers_table .many_prices { /*text-align: left;*/ }
.catalog_detail .offers_table .many_prices .price.discount { margin-top: 0px; }
.set_wrapp.set_block .cost.prices .price.discount { margin-top: 0px; }

.container iframe, .container object, .container video { display: block; margin: 0 auto; max-width: 100%; }
.group_description_block.top { padding: 25px 0px 20px; }
.group_description_block.bottom { padding: 20px 0px 20px; float: left; }
ul.slider_navigation.top_big .flex-direction-nav { display: none; }
ul.slider_navigation.top_big .flex-direction-nav:first-child { display: block; }
.module_products_list.errors { border: none; }
.table .module_products_list td.like_icons { width: 92px; }

.hide_class { display: none; }
.module-form-block-wr .form-block input[disabled="disabled"], .module-form-block-wr .form-block textarea[disabled="disabled"] { background: #fff; }

.basket_wrapp .module-cart table.bottom.middle .bottom_btn td.last_blockk { float: right !important; }
.basket_wrapp .module-cart table.bottom.middle .bottom_btn td.last_blockk:last-of-type { padding-right: 50px !important;  }

@media print{
	.print div.error{font-size:8px !important;}
	.print table{page-break-after:auto;}
	.print tr{page-break-inside:avoid;page-break-after:auto;}
	.print td{page-break-inside:avoid;page-break-after:auto;}
	.print thead{display:table-header-group;}
	.print tfoot{display:table-footer-group;}
}

/* animation on start page 1.0.5 */
@media (min-width:1024px){
	.start_promo .item{border-bottom-width:6px;    padding-bottom:23%;}
	.start_promo .item img {transition:all 0.3s ease-in-out;}
	/*.start_promo .item:hover img{transform:scale(1.10);}*/
	/*.start_promo .item:hover .opacity_block{display:none;}*/
}
/*ul.menu.tz_menu_full li .child ul{
    width: 28% !important;
}*/
ul.menu.tz_menu_full li .tz_menu_block > ul{
     width: 100%;
}
ul.menu.tz_menu_full .tz_menu_block {
    display: inline-table;
    width: 33%;
}
/*ul.menu.tz_menu_full .tz_menu_block  .menu_item{
    width: 100%;
}*/
.tz_menu_full .cat_menu{
    display: block; 
    width: auto !important;
}
/* .tz_menu_full .cat_menu .child_wrapp{
    display: table; 
    width: auto !important;
} */
.tz_menu_full .cat_menu .child_wrapp .tz_menu_block > ul{
    display: block;
    width: auto !important;  
    max-height: 200px;  
}
ul.menu.tz_menu_full .tz_menu_block{
    width: auto;
    margin-right: 10px;
}
ul.menu li, ul.mini-menu li{
    display: inline-block;
}
ul.menu.tz_menu_full .tz_menu_block {
	display: block;
}
ul.menu.tz_menu_full .tz_menu_block > a,
ul.menu.tz_menu_full .child_wrapp > a {
	color: #000;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 10px;
}