.menu_level li::before {
    display:none;
}
.jspHorizontalBar,.jspPane,.jspVerticalBar{position:absolute}.jspContainer{overflow:hidden;position:relative}.jspHorizontalBar,.jspPane,.jspVerticalBar{position:absolute}.jspVerticalBar{top:0;right:0;width:16px;height:100%;background:red}.jspHorizontalBar{bottom:0;left:0;width:100%;height:16px;background:red}.jspCap{display:none}.jspHorizontalBar .jspCap{float:left}.jspTrack{background:#dde;position:relative}.jspDrag{background:#bbd;position:relative;top:0;left:0;cursor:pointer}.jspHorizontalBar .jspDrag,.jspHorizontalBar .jspTrack{float:left;height:100%}.jspArrow{background:#50506d;text-indent:-20000px;display:block;cursor:pointer;padding:0;margin:0}.jspArrow.jspDisabled{cursor:default;background:#80808d}.jspVerticalBar .jspArrow{height:16px}.jspHorizontalBar .jspArrow{width:16px;float:left;height:100%}.jspVerticalBar .jspArrow:focus{outline:0}.jspCorner{background:#eeeef4;float:left;height:100%}* html .jspCorner{margin:0 -3px 0 0}

		body {
			margin: 0;
		}

		.catalog_menu {
			display: block;
			width: 100%;
			background: #242424;
		}

		.wrapper_inner {
			padding: 0 15px;
		    max-width: 1162px;
		    margin: 0 auto;
		}

		.menu_level {
			position: relative;
			display: table;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.menu__item {
			float: left;
			display: table-cell;
			vertical-align: middle;
			font-family: 'Segoe UI', sans-serif;
		}

		.menu__item > a {
			display: inline-block;
			font-size: 13px;
		    text-transform: uppercase;
		    text-decoration: none;
		    display: inline-block;
		    height: 53px;
		    line-height: 52px;
		    font-weight: 600;
			padding: 0 20px;
			white-space: nowrap;
			color: white;
		}
.menu__item > a:hover {color: #ffffff;}
		.menu__item:hover {
			background: #eb5470;
		}

		.menu__item:hover > .menu__drop {
			display: table;
		}

		.menu__drop {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 100%;
			height: 350px;
		    background: #f7f7f9;
		    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
		    font-family: 'Ubuntu', sans-serif;
		    font-size: 0;
		}

		.menu__item-lvl {
			display: table-cell;
			vertical-align: top;
			width: 25%;
			max-width: 264px;
			height: 350px;
			padding: 26px 0 16px 40px;
			box-sizing: border-box;
			border-right: 1px solid #dcdcdc;
		}

		.menu__item-lvl ul {
			margin: 0;
			padding: 0;
			height: 100%;
			list-style: none;
		}

		.menu__item-lvl ul li {
			margin-bottom: 22px;
		}

		.menu__item-lvl ul li > a {
			position: relative;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			border-bottom: 1px solid transparent;
  			font-size: 12px;
  			padding-bottom: 2px;
		}

		.menu__item-lvl ul li > a:hover {
			color: #eb5470;
			border-bottom: 1px dotted;
		}

		.menu__item-lvl_1 ul li > a {
			font-weight: 600;
		}

		.menu__item-lvl_1 ul li.active > a {
			color: #eb5470;
			border-bottom: 1px dotted;
		}

		.menu__item-lvl_1 ul li.active > a:after {
			position: absolute;
			right: -10px;
			bottom: 6px;
			content: '';
			width: 4px;
			height: 4px;
			border-top: 1px solid #eb5470;
			border-right: 1px solid #eb5470;
			transform: rotate(45deg);
		}

		.menu__item-lvl_2 ul {
			display: none;
		}

		.menu__item-lvl_2 ul.active {
			display: block;
		}

		.jspVerticalBar {
			width: 10px;
			right: 4px;
			background: none;
		}

		.jspDrag {
			border-radius: 2px;
			background-color: #eb5470;
		}

		.jspDrag::before {
			position: absolute;
			left: 50%;
			top: 50%;
			content: '';
			width: 6px;
			height: 7px;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			transform: translate(-50%,-50%);
		}

		.jspDrag::after {
			position: absolute;
			left: 50%;
			top: 50%;
			content: '';
			width: 6px;
			height: 1px;
			background: white;
			transform: translate(-50%,-50%);
		}

		.jspTrack {
			background: #ececec;
			border-radius: 2px;
		}

		.menu__drop-add {
			display: table-cell;
			vertical-align: top;
			padding: 30px 50px 20px 36px;
			box-sizing: border-box;
		}

		.menu__drop-add span {
			display: inline;
			margin: 0;
			font-size: 13px;
			color: rgb(136, 136, 136);
			font-weight: bold;
			line-height: 1.385;
		}

		.menu__ads {
			float: right;
		}

		.menu__cell {
			display: table-cell;
			vertical-align: top;
			width: 50%;
		}

		.menu__cell:first-child {
			padding-right: 20px;
		}

		.brnds {
			padding: 20px 40px;
			font-size: 12px;
			box-sizing: border-box;
		}

		.brnds a {
			text-decoration: none;
			color: #000;
		}

		.brnds a:hover,
		.brnds a.cur {
			color: #eb5470;
		}

		.brnds__top {
			font-size: 14px;
			padding-bottom: 10px;
			border-bottom: 1px solid #dcdcdc;
		}

		.brnds__alph {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		.brnds__alph::after {
			display: inline-block;
			vertical-align: top;
			content: '|';
			margin: 0 4px;
			color: #000;
		}

		.brnds__alph > li {
			display: inline-block;
			vertical-align: top;
			margin-left: 4px;
		}

		.brnds__alph > li:first-child {
			margin-left: 0;
		}

		.brnds__caption {
			position: absolute;
			left: 0;
			top: -1px;
			padding: 0 11px;
			height: 40px;
			display: block;
			background: #eb5470;
			text-align: center;
		}

		.brnds__caption span {
			color: white;
			font-size: 28px;
			font-weight: 500;
			line-height: 40px;
			text-transform: uppercase;
		}
		
		.brnds__caption.hide {
			display: none;
		}

		.brnds__main {
			position: relative;
			padding-top: 50px;
			display: table;
			width: 100%;
		}

		.brnds__list {
			vertical-align: top;
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
			font-size: 0;
			flex-wrap: wrap;
		}

		.brnds__ads {
			display: table-cell;
			vertical-align: top;
			width: 30%;
			text-align: right;
		}

		.brnd {
			display: inline-block;
			vertical-align: top;
			font-size: 14px;
			width: 30%;
			margin-right: 3%;
			margin-bottom: 10px;
		}

		.brnd.hide {
			display: none;
		}

		.brnd img {
			display: none;
		}

		.brnds__list_big .brnd {
			position: relative;
			height: 120px;
			margin-bottom: 26px;
			background: white;
			border: 1px solid #dcdcdc;
  			border-radius: 4px;
		}

		.brnds__list_big .brnd a {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}

		.brnds__list_big .brnd span {
			position: absolute;
			width: 100%;
			text-align: center;
			bottom: 10px;
		}

		.brnds__list_big .brnd img {
			display: block;
			position: absolute;
			top: calc(50% - 5px);
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
		}